<div class="row">
    <div class="col-md-12">
        <div class="row">
            <mat-form-field class="col-7">
                <input matInput type="text" placeholder="Nome" [(ngModel)]="Nome" />
            </mat-form-field>
            <mat-form-field class="col-5">
                <input matInput type="text" placeholder="CNPJ" [(ngModel)]="CPF" />
            </mat-form-field>
            <mat-form-field class="col-7">
                <input matInput type="text" placeholder="Razão Social" [(ngModel)]="RazaoSocial" />
            </mat-form-field>
            <mat-form-field class="col-5">
                <input matInput type="text" placeholder="Telefone" [(ngModel)]="Telefone" mask="(00) 0000-0000" [dropSpecialCharacters]="false" />
            </mat-form-field>
            <mat-form-field class="col-6">
                <input matInput type="email" placeholder="E-mail" [(ngModel)]="Email" />
            </mat-form-field>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <h5>Localização</h5>
            </div>
            <mat-form-field class="col-3">
                <input matInput type="text" placeholder="CEP" [(ngModel)]="CEP" mask="00000-000" [dropSpecialCharacters]="false" />
            </mat-form-field>
            <mat-form-field class="col-6">
                <input matInput type="text" placeholder="Endereço" [(ngModel)]="Endereco" />
            </mat-form-field>
            <mat-form-field class="col-3">
                <input matInput type="number" placeholder="Número" [(ngModel)]="Numero" />
            </mat-form-field>
            <mat-form-field class="col-4">
                <input matInput type="text" placeholder="Bairro" [(ngModel)]="Bairro" />
            </mat-form-field>
            <mat-form-field class="col-4">
                <input matInput type="text" placeholder="Cidade" [(ngModel)]="Cidade" />
            </mat-form-field>
            <mat-form-field class="col-4">
                <input matInput type="text" placeholder="Estado" [(ngModel)]="Estado" />
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="Referência" [(ngModel)]="Referencia" />
            </mat-form-field>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <button mat-raised-button color="primary" class="col-2 float-right" (click)="adicionarArtista()">{{this.isUPDATE == true ? 'Alterar' : 'Adicionar'}}</button>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>