.bg-login-image {
    background: none !important;
}

.logo {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: #3f51b5;
}

button {
    background-color: #3f51b5;
}

.noPadH {
    padding-left: 0;
    padding-right: 0;
}